# generic

._*
.[Tt]rash-*
.Apple
.Apple*
.BridgeSort
.cache
.com.apple.*
.DocumentRevisions-*
.DS_Store
.localized
.netlify
.nfs*
.sass-cache
.Spotlight-*
.TemporaryItems
.Trash*
.VolumeIcon.icns
.vscode
[Dd]esktop.ini
[Tt]humbs.db
*.bak
*.cab
*.debug
*.env
*.fscache
*.idea
*.lnk
*.log
*.msi
*.msm
*.msp
*.next
*.psd
*~
build
public
logs
$RECYCLE.BIN
Network Trash Folder
node_modules
Temporary Items